{% extends 'base.html' %}

{% block title %}Device Detail{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h6>ID : {{ device.id }}</h6> 
                </div>
                <div class="col-md-3">
                    <h6>Name : {{ device.name }}</h6> 
                </div>
                <div class="col-md-3">
                    <h6>IP :  {{ device.ip_address }}</h6>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

