
{% extends 'base.html' %}
{% load dict_extras %}
{% block title %}Job List{% endblock %}

{% block content %}
    <h1>Job List</h1>

    <!-- Search form -->
    <form method="get" action="">
        <div class="form-group row">
            <div class="col-md-4">
                <input type="date" class="form-control" name="last_updated" id="last_updated" value="{{ last_updated_query }}">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" name="search" id="search" value="{{ search_query }}" placeholder="Search IP or Name">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>

    </form>
    
    <!-- Job table -->
    <div class="mt-4 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job ID</th>
                    <th>Device Name</th>
                    <th>Device IP</th>
                    <th>Spare Name</th>
                    <th>Spare IP</th>
                    <th>Created</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td><a href="{% url 'jobs:joblog_list' job.job_id %}">{{ job.job_id }}</a></td>
                    <td>
                        {% with switchs_id|get_item:job.job_id as switch_info %}
                            {% if switch_info.device_id %}
                                <a href="{% url 'jobs:device_detail' switch_info.device_id %}">{{ job.device_name }}</a>
                            {% else %}
                                {{ job.device_name }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ job.device_ip }}</td>
                    <td>
                        {% with switchs_id|get_item:job.job_id as switch_info %}
                            {% if switch_info.spare_device_id %}
                                <a href="{% url 'jobs:device_detail' id=switch_info.spare_device_id %}">{{ job.spare_name }}</a>
                            {% else %}
                                {{ job.spare_name }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ job.spare_ip }}</td>
                    <td>{{ job.created }}</td>
                    <td>{{ job.last_updated }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No jobs found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    <div class="mt-4">
        <form method="get" action="" class="form-inline">
            <label class="mr-2"  for="paginate_by">Items per page : </label>
            <select name="paginate_by" id="paginate_by" class="form-control mr-2" onchange="this.form.submit()">
                <option value="5" {% if paginate_by == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if paginate_by == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if paginate_by == 20 %}selected{% endif %}>20</option>
            </select>
            <!-- 隱藏字段來保留其他搜尋條件 -->
            <input type="hidden" name="search" value="{{ search_query }}">
            <input type="hidden" name="last_updated" value="{{ last_updated_query }}">
        </form>
        <br>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% if last_updated_query %}last_updated={{ last_updated_query }}&{% endif %}{% if search_query %}search={{ search_query }}&{% endif %}page=1&paginate_by={{ paginate_by }}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if last_updated_query %}last_updated={{ last_updated_query }}&{% endif %}{% if search_query %}search={{ search_query }}&{% endif %}page={{ page_obj.previous_page_number }}&paginate_by={{ paginate_by }}">Previous</a>
                </li>
            {% endif %}
        
            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?{% if last_updated_query %}last_updated={{ last_updated_query }}&{% endif %}{% if search_query %}search={{ search_query }}&{% endif %}page={{ num }}&paginate_by={{ paginate_by }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% if last_updated_query %}last_updated={{ last_updated_query }}&{% endif %}{% if search_query %}search={{ search_query }}&{% endif %}page={{ page_obj.next_page_number }}&paginate_by={{ paginate_by }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?{% if last_updated_query %}last_updated={{ last_updated_query }}&{% endif %}{% if search_query %}search={{ search_query }}&{% endif %}page={{ page_obj.paginator.num_pages }}&paginate_by={{ paginate_by }}">Last</a>
                </li>
            {% endif %}
        </ul>
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        <p>Total Count : {{ total_count }}</p>
    </div>
{% endblock %}
